@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --fonte-titulo: 'MedievalSharp', serif;
    --fonte-corpo: 'EB Garamond', serif;
}


/* Armazenamento das Cores */
:root {
    --fundo: #0a0a0c;       
    --dashboard: #161618;            
    --ouro: #a58e4b;               
    --ouro-brilhante: #d4bb7e;    
    --borda-espessura: 1px;
    --ouro-sombra: rgba(165, 142, 75, 0.6);    
    --texto: #e0e0e0;    
}

body{
    
    border: 2px solid black;
    background-color: var(--dashboard);
    color: var(--texto);
    font-family: var(--fonte-corpo);
    font-size: 20px;
    line-height: 1.3em ;
}

h1 , h2{
    text-align: center;
    margin: 25px 10px;
    font-family: var(--fonte-titulo);
    letter-spacing: 0.1em;
    line-height: 1em;    
    
}

header > p {
    text-indent: 10px;


}

h2{
    text-align: center;
    margin-top: 10px;
}


menu{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--dashboard);    
}

menu> a{

    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 4px 8px;
    display: inline-block;
    margin: 10px;
    color: white;
    text-decoration:none;
}


/* Div para fazer o fundo do site */

.fixarosite {
    max-width: 400px;
    margin: 0 auto; 
    min-height: 100vh; 
    background-color: var(--bg-principal); 
    box-shadow: 0 0 50px rgba(0,0,0,0.5)
   
}

.foto-mini{
    margin: 10px 30px 10px 30px ;
    width: 120px;
    height: 160px;
}

img{
    width: 300px;       
    height: 600px;
    background-size:cover ;
}

/* carossel de fotos */


.slider{
    margin: 0 auto;
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;

}

.slides{
    width: 700%;
    height: 600px;
    display: flex;  
    transition: 2s;
    
}

.slides > input {
    display: none;

}


.interno , .primeira{
    width: 14.2857%;
    position: relative;
    transition: 2s;
    
}

.navegação-manual{
    position:absolute;
    width: 300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px ;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}   

.manual-btn:not(:last-child){
    margin-right: 30px ;

}

.manual-btn:hover{
    background-color:white;
}

#radio1:checked ~ .primeira { margin-left: 0; }
#radio2:checked ~ .primeira { margin-left: -14.28%; } /* Pulou 1 */
#radio3:checked ~ .primeira { margin-left: -28.57%; } /* Pulou 2 */
#radio4:checked ~ .primeira { margin-left: -42.85%; } /* Pulou 3 */
#radio5:checked ~ .primeira { margin-left: -57.14%; } /* Pulou 4 */
#radio6:checked ~ .primeira { margin-left: -71.42%; } /* Pulou 5 */
#radio7:checked ~ .primeira { margin-left: -85.71%; } /* Pulou 6 */
