@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --fonte-titulo: 'MedievalSharp', serif;
    --fonte-corpo: 'EB Garamond', serif;
}


/* Armazenamento das Cores */
:root {
    --fundo: #0a0a0c;       
    --dashboard: #161618;            
    --ouro: #a58e4b;               
    --ouro-brilhante: #d4bb7e;    
    --borda-espessura: 1px;

    --texto: #e0e0e0;    
}

body{
    border: 2px solid black;
    background-color: var(--dashboard);
    color: var(--texto);
    font-family: var(--fonte-corpo);
    font-size: 20px;
    line-height: 1.3em ;
}


h1 , h2{
    padding-top: 10px;
    text-align: center;
    font-family: var(--fonte-titulo);
    letter-spacing: 0.1em;
    line-height: 1em;    
    
}
header > h1{
    padding-top: 30px;
}
header > p {
    text-indent: 10px;


}


menu{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--dashboard);    
}

menu> a{

    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 4px 8px;
    display: inline-block;
    margin: 10px;
    color: white;
    text-decoration:none;
}


/* Div para fazer o fundo do site */

.fixarosite {
    max-width: 400px;
    margin: 0 auto; 
    min-height: 100vh; 
    background-color: var(--bg-principal); 
    box-shadow: 0 0 50px rgba(0,0,0,0.5)
   
}

.foto-mini{
    margin: 10px 30px 10px 30px ;
    width: 120px;
    height: 160px;
}

img{
    width: 300px;       
    height: 600px;
    background-size:cover ;
}

/* carossel de fotos */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin: 20px 0;
}

.btn_flutuante{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
    transition: 0.3s;
    min-width: 30px;
    margin: 0 5px ;    
}


.slider{
    margin: 0 auto;
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slides{
    width: 700%;
    height: 600px;
    display: flex;  
    transition: 2s;
    
}

.slides > input {
    display: none;

}


.interno , .primeira{
    width: 14.2857%;
    position: relative;
    transition: 2s;
    
}



#radio1:checked ~ .primeira { margin-left: 0; }
#radio2:checked ~ .primeira { margin-left: -14.28%; } /* Pulou 1 */
#radio3:checked ~ .primeira { margin-left: -28.57%; } /* Pulou 2 */
#radio4:checked ~ .primeira { margin-left: -42.85%; } /* Pulou 3 */
#radio5:checked ~ .primeira { margin-left: -57.14%; } /* Pulou 4 */
#radio6:checked ~ .primeira { margin-left: -71.42%; } /* Pulou 5 */
#radio7:checked ~ .primeira { margin-left: -85.71%; } /* Pulou 6 */

/* dashboad personagens ASTARION */
.dashboard{
    background-color: #1a1a1a;
    color:#ebebeb;
    padding: 10px;
    text-align: center;
    border: var(--ouro-brilhante);
    
}

.container_informacoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  width: 100%;
  padding: 20px;
}

.classes{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
}
.classes > img{
    width: 110px;       
    height: 140px;
    object-fit: contain;
}

.sub_Classes{
    font-size:14px;
    font-weight: bolder;
    color: #b3b3b3;
}
.container_habilidade{
    display: grid;
    grid-template-columns: repeat(6, 1fr);    
    width: 100%;
}

.habilidades{
    padding: 10px;
}

/* Container Principal */
.build-progression {
    width: 100%;
    margin: 0 auto;
    background-color: #1a1a1a; 
    color: var(--texto);
    padding: 15px;
}

h1,h2, h3 {
    text-align: center;
    color: #d0b987;

    padding-bottom: 10px;
}

/* Estilização da Lista Ordenada */
.lista-niveis {
    list-style: none;
    padding: 0;
}

.lista-niveis li {
    display: flex;
    align-items: center;
    background: #262626;
    margin-bottom: 12px;
    border-radius: 8px;
    border-left: 7px solid #c9b17c;
    padding: 10px;
}

/* Badge do Nível */
.level-badge {
    background: #f7f5f0;
    color: #1a1a1a;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 15px;
    min-width: 60px;
    text-align: center;
    font-size: 0.9rem;
}

.info strong {
    display: block;
    font-size: 1.1rem;
    color: #fff;
}

.info p {
    margin: 4px 0 0;
    font-size: 0.85rem;
    color: #b3b3b3;
}

/* Lista de Perícias */
.lista-pericias {
    padding: 15px 15px 15px 35px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.6;
}

.lista-pericias li {
    margin-bottom: 8px;
}

.build-progression > a{
    text-decoration:none;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background: #262626;
    border-left: 7px solid #c9b17c;
    color: #e0e0e0;
    margin: 20px 0px
}

/* MODIFICACOES ESPECIAIS para uma imagem */

.foto1 .container_informacoes{
  display: grid;
  grid-template-columns:1fr;  
    
  width: 100%;
  padding: 20px;
}